*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.bgImage{
    position: relative;
    width: 100%;
    height:100vh;
    background-image: url('https://akm-img-a-in.tosshub.com/indiatoday/images/media_bank/202308/rohit-sharma-071855-16x9.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.bgImage::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}
.content h2 span {
    color: #0077b6;
}
.content p {
    font-size: 20px;
    color: white;
    opacity: 0.8;
    text-align: left;
    border-radius: 10rem;
}
.content button {
    padding: 12px 22px;
    margin-top: 30px;
    font-size: 22px;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: aqua;
    background-color: #0077b6;
    border-radius: 25px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.5s;
}
.content button:hover{
    opacity: 1;
}